<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang=en>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Spring Demos</title>

<link th:replace="header :: bootstrap-css" />
<link th:replace="header :: app-css" />
</head>


<body>
	<nav th:replace="header :: navbar"></nav>

	<div class="container">
		<div class="jumbotron">
			<h1>Spring Demo</h1>
			<p>This is a basic Spring MVC demo hosted on Google App Engine.
				Code used will soon be available on Github.</p>
			<p>The site is split into a couple examples that demonstrate the
				basics of Spring code.</p>
		</div>
	</div>


	<div th:replace="footer :: scripts"></div>
</body>
</html>